@media (max-width: 1200px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .listaMenu{
        flex-direction: column;
    }


}

@media (min-width: 1700px) {
    footer{
        bottom: 0;
    }


}

