
a{
    text-decoration: none;
    color: #3b3b3c;
}

svg{
    height: 80px;
    width: 200px;
}


.cabecera{
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li{
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after{
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
    
}

.lineaBottom:hover::after{
    width: 100%;
}


.spanAfter{
    position: absolute;
    background-color: #08A3BF;;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after{
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a{
    color: #fff;
}

footer{
    background-color: #000;
    color: #fff;

}

.texto{
    padding: 30px;
    text-align  : center;
}

.contenido{
    max-width: 100%;
    padding: 0 1.5rem;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "intro intro"
        "contexto contexto"
        "importancia objetivo";
}

#introduccion h1{
    color: #4338ca;
    font-size: 3.4em;
}

#introduccion{
    margin: 0 200px;
    margin-top: 30px;
    border-left: none;
    transition: all .7s ease-out;
    grid-area: intro;
}

#introduccion:hover{
    transform: scale(1.1);
    border-left: 12px solid #4338ca;
    border-radius: 19px;
}

#contexto{
    grid-area: contexto;
}

#importancia{
    grid-area: importancia;
}

#objetivo{
    grid-area: objetivo;
}


#contexto{
    margin: 0 200px;
    border-left: none;
    transition: all .7s ease-out;
}

#contexto:hover{
    transform: scale(1.1);
    border-left: 12px solid #4338ca;
    border-radius: 19px;
}

#contexto h2{
    font-size: 2.3em;
    color: #4338ca;
}
#contexto p{
    font-size: 2em;
    padding: 0 100px;
}

#objetivo{

    border-left: none;
    transition: all .7s ease-out;
}

#objetivo:hover{
    transform: scale(1.1);
    border-left: 12px solid #4338ca;
    border-radius: 19px;
}

#objetivo h2{
    font-size: 2.3em;
    color: #4338ca;
}
#objetivo p{
    font-size: 2em;
    padding: 0 50px;
}

#importancia{
    margin-left: 70px;
    border-left: none;
    transition: all .7s ease-out;
}

#importancia:hover{
    transform: scale(1.1);
    border-left: 12px solid #4338ca;
    border-radius: 19px;
}

#importancia h2{
    font-size: 2.3em;
    color: #4338ca;
}
#importancia p{
    font-size: 2em;
    padding: 0 50px;
}
