*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}

svg{
    height: 80px;
    width: 200px;
}


a{
    text-decoration: none;
    color: #3b3b3c;
}

.cabecera{
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li{
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after{
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
    
}

.lineaBottom:hover::after{
    width: 100%;
}


.spanAfter{
    position: absolute;
    background-color: #08A3BF;;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after{
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a{
    color: #fff;
}

footer{
    background-color: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    margin-top: 250px;
}

.texto{
    padding: 30px;
    text-align  : center;
}

body{
    background-color: #faf9f8;
}

#inicio{
    color: #fff;
    text-align: center;
    padding: 70px;
    font-size: 2.8em;
}

.tituloPrincipal{
    background-color: #121a2d;
    position: absolute;
    width: 100%;
    z-index: -4;
}



#articulos ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    top: 150px;
}

#articulos li {
    list-style: none;
    background-color: #fff;
    padding: 30px;
    border-radius: 35px;
    transition: all 0.3s ease-out;
}

#articulos li:hover{
    background-color: #4338ca;
    transform: scale(1.2);
}

#articulos li:hover a{
    color: #fff;
}

#definicionModem{
    position: relative;
    top: 180px;
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 90px;
    background-color: #fff;
    font-size: 1.5em;
}

#definicionModem h2{
    color: #4338ca;
}

.tiposModem div{
    position: relative;
    top: 180px;
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 90px;
    background-color: #fff;
    font-size: 1.5em;
    border-left: none;
    transition: all .7s ease-out;
}

.tiposModem div:hover{
    transform: scale(1.1);
    border-left: 12px solid #4338ca;
    border-radius: 19px;
}

.tiposModem h3, .tiposModem p{
    margin: 20px;
}

.tiposModem h3, .tiposModem h4{
    color: #4338ca;
}











