@media (max-width: 1200px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .listaMenu{
        flex-direction: column;
    }


}

@media (max-width: 870px) {
    section{
        margin: 0 50px;
    }


}

