@media (max-width: 1200px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .listaMenu{
        flex-direction: column;
    }

    .tituloPrinc, .subtitulo{
        text-align: center;
    }

    .containerFlex{
        flex-direction: column;
        align-items: center;
    }

    .imgGif{
        bottom: 0;
        right: 0;
    }

    .ilustaciones{
        flex-direction: column;
        margin: 0 20px;
    }

    .listaOrdenada{
        margin: 0 80px;
    }

    .containerTexto{
        width: 320px;
        height: 600px;
        font-size: 1.3em;
        top: 3700px;
    }

}