* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;

}

svg{
    height: 80px;
    width: 200px;
}

body {
    background-color: #faf9f8;
}

a {
    text-decoration: none;
    color: #3b3b3c;
}

.cabecera {
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li {
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after {
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
}

.lineaBottom:hover::after {
    width: 100%;
}


.spanAfter {
    position: absolute;
    background-color: #08A3BF;
    ;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after {
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;

}
.texto{
    padding: 30px;
    text-align  : center;
}

.titulo {
    text-align: center;
    padding: 50px;
    background-color: #121b2d;
    color: #fff;
}

#definicion {
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    background-color: #fff;
}

#definicion h2 {
    color: #4338ca;
    font-size: 2em;
    border-bottom: 3px solid #4338ca;
}

#fotoSwitch {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 20px;
}

#mi_foto {
    max-width: 600px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#definicionSwitch {
    font-size: 1.8em;
}

#articulos ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: all .7s ease-out;
}

#articulos li {
    list-style: none;
}

#articulos a {

    padding: 20px;
    background-color: #000;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #000;
}

#articulos li a:hover {
    background-color: #121b2d;
    color: #fff;
}

#articulos a {
    color: #000;
}

#TramasConmutacion {
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    background-color: #fff;
}

#Conmutacion {
    color: #4338ca;
    font-size: 2em;
    border-bottom: 3px solid #4338ca;
}

#TramasConmutacion p {
    margin-top: 30px;
    font-size: 2em;
}

.conmutaciónImg {
    display: block;
    width: 100%;
    text-align: center;
}

.switch-item {
    height: 300px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Funcionamiento {
    color: #4338ca;
}

#TramasConmutacion ol li {
    font-size: 1.6em;
    margin: 30px 0;
    list-style: inherit;
}

#TablaMAC {
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    background-color: #fff;
}

#Tabla {
    color: #4338ca;
    font-size: 2em;
    border-bottom: 3px solid #4338ca;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);;
}

th {
    background-color: #121b2d;
    color: #fff;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
}

td {
    padding: 1rem;
    border-bottom: 1px solid #e2e8f0;
}

#TablaMAC p{
    margin-top: 30px;
    font-size: 2em;
}

#TablaMAC ul li{
    font-size: 1.6em;
    margin: 30px 0;
    list-style: initial;
}

#VLANSEMPRESA {
    margin: 50px 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    background-color: #fff;
}

#VLANs {
    color: #4338ca;
    font-size: 2em;
    border-bottom: 3px solid #4338ca;
}

h4{
    margin: 10px;
    color: #4338ca;
    font-size: 1.8em;
}

#VLANSEMPRESA p{
    font-size: 1.8em;
}


