*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    color: #3b3b3c;
}
 
p{
    font-size: 1.5rem;
}
.cabecera{
    font-size: inherit;
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li{
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after{
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
    
}

.lineaBottom:hover::after{
    width: 100%;
}



body{
    background-color: #fafaf9;
}

h1, 
h2, 
h3, 
h4 {
    color: #d14f86;              
    text-align: center;
    margin-bottom: 10px;
}

section {
    margin: 40px auto;
    background: #fff0f7;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ffcce6;     /* borde rosa suave */
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}
.itemCapa, .itemInfo, .itemDirect {
    background: white;
    border: 1px solid #ffb3d9;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    transition: 0.6s;
}

.itemCapa:hover,
.itemInfo:hover,
.itemDirect:hover {
    background: #ffe6f2;
    border-color: #ff80bf;
}

.buttonModel {
    padding: 10px 20px;
    background: #ff99cc;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.textoInicio{
    margin-top: 20px;
    padding: 10px;
}

.imgOrdenador{
    width: 700px;
}

.flex-container{
    display: flex;
}

.definRed{
    padding: 20px;
}

.active{
    background-color: #f9f9f9;
    color: #f200ff;
}

.desactive{
    background-color: rgb(224 231 255);
    color: #555555;
}

.buttonContainer{
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.buttonModel{
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.modelosTeoricos{
    margin: 20px;
}

.h2Teorico{
    padding-left: 10px;
    padding-bottom: 20px;
}

.tituloH3{
    text-align: center;
    margin-top: 30px;
    color: #44403c
}



.cajaInfo{
    margin: 20px;
    box-shadow: -2px -2px 38px -8px rgba(0,0,0,0.45);
    border-radius: 9px;
    margin-top: 70px;
}

.tituloCapa{
    font-size: 1.5em;
}

.tituloCapa, .subtitulo{
    padding:  10px 20px;
    color: #ff00f7;
}

.containerInfo {
    width: 90%;
    margin: 0 auto;
}

.smallText {
    padding: 10px 30px;
}

.itemInfo{
    background-color: #ffe6f2; /* rosa pastel */
    border: 1px solid #ffb3d9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.tituloAd{
    margin: 20px 30px;
}

.textIntroAd{
    margin: 10px 20px;
}

.topRed{
    margin-left: 30px;
    margin-top: 20px;
}

.topText{
    margin-left: 60px;
    margin-top: 20px;
}

.Protocolos, .direccionamiento{
    margin: 30px;
}

.prototext, .direcText{
    margin: 20px 0;
    padding-left: 30px;
}

.listContainer{
    padding-left: 60px;
}

.grafica{
    padding-left: 30px;
    display: flex;
}

.listDirect{
    margin-top: 30px;
    padding-left: 60px;
}

.itemDirect{
    margin-top: 20px;
}

.itemList{
    margin: 20px 0;
}

footer{
    background-color: #000;
    color: #fff;
}

.texto{
    padding: 30px;
    text-align  : center;
}


.spanAfter{
    position: absolute;
    background-color: #08A3BF;;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after{
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a{
    color: #fff;
}







