*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}

/*CSS DE LA PÁGINA*/

.tituloPrinc{
    text-align: center;
    display: block;
    border: solid #ff000054 4px;
    border-end-end-radius: calc(20px + 1em);
    border-bottom-left-radius: calc(20px + 1em);
    font-size: 3.3em;
    margin: 30px 0 0 30px;
    color: #000000;
}

.subtitulo{
    display: block;
    padding: 20px 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.3em;
    margin-left: 60px;
    color: #410e0e;
}

.defin{
    margin: 30px 50px;
    font-size: 1.5em;
}


.containerFlex{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.textoContainer{
    display: block;
    border: 2px solid #000000;
    max-width: 900px;
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #ffffffd6;
}

.titDef{
    display: block;
    color: #ff0000;
    font-size: 1.5em;
    margin: 20px 0;
}

.imgGif{
    position: relative;
    bottom: 48px;
    right: 118px;
}
.imgGif:hover{
    transform: rotate(360deg);
    transition: all 0.7s ease-in-out;
}

.cajadef{
    display: block;
    border: 2px solid #ff4e4e;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000000;
    background-color: #f5aaeb;
    margin:  0 30px;
    border-left: 7px solid #ff0404;
}

.cajadef h4{
    color: #000000;
    padding: 20px;
    font-size: 1.3em;
}

.cajadef ul{
    color: #000000d6;
   padding-left: 50px;
}

main{

    background-color: #ffe1f88e;
}
.itemDef{
    padding: 20px;
}

.titEjem{
    color: #ff0000;
    margin: 20px 30px;
    border-bottom: ridge rgba(255, 0, 0, 0.8) 1mm
}

.textEjem{
    padding: 30px;
}
.ejemplo{
    font-size: 1.5em;;
}

.ilustaciones{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 20px;                
    padding: 20px;
    justify-content: space-around;
}


.listaOrdenada{
    margin: auto;
    max-width: max-content;
}

.itemOrdenada{
    margin-bottom: 30px;
}

.itemIlus{
    border: #ff4ec4 3px solid;
    padding: 40px;
    text-align: center;
    margin: 30px 0;
    border-radius: 20px;
    color:#3a3a3b;
}

.itemIlus:hover{
    border: #000000 3px solid;
    background-color: #fff;
    padding: 40px;
    color:#000000;
    text-align: center;
    margin: 30px 0;
    border-radius: 20px;
}


.active{
    background-color: #ff0000;
    color: #fff;
}

.desactive{
    background-color: rgb(224 231 255);
    color: #3a3a3b;
}

.buttonContainer{
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.buttonModel{
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.buttonModel:not(.active):hover{
color: rgb(255, 255, 255);
background-color: #3b3b3c;
}


.tipoRouters{
    margin: 40px;
    font-size: 1.5em;
}

.titRouter{
    text-align: center;
    color: #d80000;
    margin-bottom: 20px;
    border-bottom: ridge rgba(255, 0, 0, 0.8) 1mm
}

/*CSS para Caja Información (NO TOCAR)*/

.containerTexto{
    position: absolute;
    background-color: #fff;
    width: 80%;
    height: 80vh;
    margin: 50px;
    top: 1207px;
    left: 147px;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 144px 168px rgba(0,0,0,0.6);
    border-radius: 30px;
    transition: transform 0.7s ease-in-out;
}

.containerTexto h3{
    color: #4338ca;
    margin-bottom: 14px;
}

.apagar{
    transform: scale(0);
}

.quitar{
    display: none;
}

.eliminar{
    position: absolute;
    top: 14px;
    right: 20px;        
}




/*CSS del Menu  y footer(NO TOCAR)*/

a{
    text-decoration: none;
    color: #3b3b3c;
}

.cabecera{
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li{
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after{
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
    
}

.lineaBottom:hover::after{
    width: 100%;
}


.spanAfter{
    position: absolute;
    background-color: #08A3BF;;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after{
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a{
    color: #fff;
}

footer{
    background-color: #000;
    color: #fff;

}

.texto{
    padding: 30px;
    text-align  : center;
}
.languages{
    position: sticky;
    bottom: 0px;                     
    right: 20px;                
    z-index: 3000;              
    background: rgba(0, 0, 0, 0.01);
    padding: 8px 12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 8px;
    font-family: 'Source Sans 3', sans-serif;
}

.languages button {
    background: rgba(78, 82, 82, 0.655);
    color: rgb(0, 0, 0);
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 44px;
    font-size: 14px;
}

.languages button:hover {
    background: rgb(141, 186, 190);
    color: rgb(0, 0, 0);    
    border: 2px solid white;    
}
svg{
    width: 200px;
    height: 80px;
}




