*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #3b3b3c;
}

.cabecera{
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li{
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after{
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
    
}

.lineaBottom:hover::after{
    width: 100%;
}

.imagenPresentacion{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Mujahid/Imagenes/imagenFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.imagenPresentacion h1{
    font-family: "Playfair Display";
    text-shadow: 0 4px 20px rgba(0, 0, 0, .5);
    font-weight: 700;
    font-size: 7rem;
}

.subtitulo{
    opacity: 0.85;
    color: #f3f3f2;
    margin-bottom: 20px;
}

.botonMiembro{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .3);
    background: hsla(0, 0%, 100%, .15);
    backdrop-filter: blur(10px);
    transition: all .28s ease;
    font-size: 1.2rem;
}

.botonMiembro:hover{
    transform: scale(1.1);
    background-color: #08A3BF;
    box-shadow: 0 12px 30px hsla(199, 37%, 65%, 0.281);
}

.botonMiembro a{
    text-decoration: none;
    color: #fff;
}

#miembrosEquipo{
    display: flex;
    width: 100%;
    height: 890px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.miembros img{
    width: 300px;
    transition: all .28s ease;
}

.miembros img:hover{
    transform: scale(1.1);
    box-shadow:  8px 5px 15px 5px hsla(192, 37%, 65%, 0.445);
}

.miembros p{
    color: #fff;
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: center;
}

footer{
    background-color: #000;
    color: #fff;
}

.texto{
    padding: 30px;
    text-align  : center;
}

.spanAfter{
    position: absolute;
    background-color: #08A3BF;;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after{
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a{
    color: #fff;
}






