td:hover{/*Meramente decorativo para dar flasa sensacion de interactividad*/
	background: #c9f0ff;
	transition: 0.7s ease;
}
th{ 
	background-color:#aeff8b;
}
table {
	width: 90%;
	align-items: anchor-center;
    border-collapse: collapse;
    margin-top: 18px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}
th, td {
    padding: 10px 12px;
    border: 1px solid #000000;
    text-align: left;
    vertical-align: top;
    font-size: 0.94rem;
}