a {
    text-decoration: none;
    color: #3b3b3c;
}
svg{
    height: 80px;
    width: 200px;
}
.cabecera {
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li {
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after {
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
}

.lineaBottom:hover::after {
    width: 100%;
}


.spanAfter {
    position: absolute;
    background-color: #08A3BF;
    ;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after {
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;

}

.texto {
    padding: 30px;
    text-align: center;
}

#introduccion {
    color: red;
    font-size: 1.8em;
    grid-area: intro;
}

.contenido {
    display: grid;
    max-width: 100%;
    gap: 1.7rem;
    grid-template-areas: 
    "intro intro"
    "contexto importancia"
    "objetivo objetivo";
}
#contexto{
    grid-area: contexto;
    min-width: 650px;
    border-left: 8px solid red;
    margin-left: 40px;

}
#importancia{
    grid-area: importancia;
    border-left: 8px solid red;

}
#objetivo{
    grid-area: objetivo;
    background-color: red;
    margin: 10px 40px;
    border-radius: 18px;
    color: white;
    font-size: 1.4em;
}
#contexto h2{
    text-align: left;
}
#contexto p{
    text-align: left;
}
#importancia h2{
    text-align: left;
}
#importancia p{
    text-align: left;
}
#objetivo h2{
    border-bottom: 2px solid white;
}

.languages{
    position: sticky;
    bottom: 0px;                     
    right: 20px;                
    z-index: 3000;              
    background: rgba(0, 0, 0, 0.01);
    padding: 8px 12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 8px;
    font-family: 'Source Sans 3', sans-serif;
}

.languages button {
    background: rgba(78, 82, 82, 0.655);
    color: rgb(0, 0, 0);
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 44px;
    font-size: 14px;
}

.languages button:hover {
    background: rgb(141, 186, 190);
    color: rgb(0, 0, 0);    
    border: 2px solid white;    
}