* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}
svg{
    height: 80px;
    width: 200px;
}
/*CSS DE LA PÁGINA*/

body {
    background-color: #ffffff;
}


section {
    font-family: "Times New Roman", Times, serif ;
    padding: 20px;
    margin: 20px;
    border: 1px dashed black;

}


.tituloPrinc,
.titDef,
.titEjem,
.titRouter,
section h4 {
    color: black ;

    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

.tituloPrinc {
    font-size: 2em ;
    margin: 0 ;
}

.subtitulo {
    font-size: 1.2em ;
    color: gray ;
    margin: 10px 0 ;
    font-style: italic;
}



.containerFlex {
    display: flex ;
    justify-content: space-around;
}



.textoContainer {
    max-width: 60% ;
    border: 1px solid blue;
    padding: 10px;
}


.imgGif {
    position: static ;
    width: 300px;
    border: 5px solid red;
    margin-top: 20px;
}

.cajadef {
    background-color: yellow ;
    color: black ;
    border: 2px solid black ;
    margin: 20px 0 ;
    padding: 10px ;
}

.cajadef ul {
    list-style-type: circle;
    padding-left: 20px ;
}

.itemDef {
    padding: 5px ;
    border-bottom: 1px solid #ccc;
}


.ilustaciones {
    display: flex ;
    text-align: center;
    margin: 30px 0;
}

.itemIlus {
    border: 2px solid black ;
    background-color: #eee;
    margin: 10px auto ;
    padding: 10px ;
    width: 200px;

}

.colorGris {
    color: green ;
    font-weight: bold;
}


.listaOrdenada {
    max-width: 100% ;
    text-align: left;
    padding-left: 40px;
}

.itemOrdenada {
    margin-bottom: 10px ;
}


.buttonContainer {
    display: block ;
    text-align: center;
}

.buttonModel {
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 20px;
    background-color:  #08A3BF;
}

.buttonModel:active {
    border-style: inset ;
}

/*CSS para Caja Información (NO TOCAR)*/

.containerTexto {
    position: absolute;
    background-color: #fff;
    width: 80%;
    height: 80vh;
    margin: 50px;
    top: 600px;
    left: 147px;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 144px 168px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    transition: transform 0.7s ease-in-out;
}

.containerTexto h3 {
    color: #4338ca;
    margin-bottom: 14px;
}

.apagar {
    transform: scale(0);
}

.quitar {
    display: none;
}

.eliminar {
    position: absolute;
    top: 14px;
    right: 20px;
}




/*CSS del Menu  y footer(NO TOCAR)*/

a {
    text-decoration: none;
    color: #3b3b3c;
}

.cabecera {
    position: sticky;
    top: 0;
    z-index: 200;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #faf9f8;
}

.listaMenu {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #3b3b3c;
}

.listaMenu li {
    position: relative;
    padding: 10px 0px;
    cursor: pointer;
}

.lineaBottom::after {
    content: "";
    left: 0;
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: #c78b86;
    transition: width .28s ease-in-out
}

.lineaBottom:hover::after {
    width: 100%;
}


.spanAfter {
    position: absolute;
    background-color: #08A3BF;
    ;
    left: -50px;
    top: 60px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18px;
    opacity: 0;
    transition: opacity .7s ease-in-out;
}



.spanAfter::after {
    content: "";
    position: absolute;
    top: -18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #08A3BF;
}

.spanAfter a {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;

}

.texto {
    padding: 30px;
    text-align: center;
}